*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
main{
    background-color: bisque;
    /* height: 100vh;
    width: 100vw; */
}

section,div,main{
    overflow: hidden;
}


.card-block{
    background-color: rgb(216, 189, 189);
    /* height: 100vh; */
   
}

.section-title{
    width: 40%;
    margin:3em auto;
}

.section-title h1{
    color:rgb(124, 23, 23);
    text-align: center;
}
.section-title p{
    color:rgb(0, 0, 0);
    text-align: center;
}

.team-img{
    height: 100px;
    width: 100px;
}
.card-content{
    text-align: center;
}